

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<% @posts.each do |post| %>


<div class="w3-content">

<div class="w3-row w3-margin">

<div class="w3-third">
<!--  <img src" <%#= @post.image.present? ? @post.image : "https://res.cloudinary.com/learn-autism/image/upload/v1651053287/Category%20Image/cudlpoesuxyi8tn4hsrv.jpg",style:"width:60%;min-height:200px"%>"
 -->  <img src="<%= post.image.present? ? post.image : '/assets/mobile6.jpg'%>"class="img-tag add-logo-tag img1" style="height: 150px; width: 250px;padding-right:20px;"accept="image/png, image/jpeg" >
 </div>
 
<div class="w3-twothird w3-container">
  <h2><%= link_to post.title%></h2>
  <p>
   <%= link_to post.body%>
  </p><br><br>

   
  <th><%= link_to "edit", posts_edit_path(id:post.id)%></th>&nbsp&nbsp
  <th><%= link_to "Destroy",  posts_destroy_path(id:post.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "ye kya kr rha hai bhai?"
                  } %></th>
   </tr>&nbsp&nbsp

   <th><%= post.comments.count%>&nbsp <%= link_to "Comment",  comment_new_path(id:post.id)%></th>&nbsp&nbsp 

￼ <th><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Like'%></th>


</div>
</div>
</div>
 <%end%>
</body>
</html>
<!-- ,style:"width:60%;min-height:200px"
 -->




<script src="js/jquery-1.9.1.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css"/>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript"> 
<%if flash[:success].present?%>
 swal("Success","<%=flash[:success]%>","success")
 <%elsif flash[:error].present?%>
 swal("Error","<%=flash[:error]%>","error")
 <%end%> 


</script>

